.itemDiv {
  margin: auto;
  width: 350px;
}

.itemDiv {
  margin: auto;
  font-size: 20px;
}
.inputMain input,
button {
  border: none;
  background-color: aquamarine;
  color: black;
  font-weight: bold;
}
.itemDiv button {
  font-size: 20px;
  background-color: black;
  border: none;
  color: #f5f5f5;
  border-radius: 3px;
}
.itemDiv h3 {
  color: maroon;
}
.inputDiv {
  padding: 0 20px;
  margin: 0;

  height: 40px;
  width: 300px;
  margin: 0 20px;
  font-size: 20px;
  margin-bottom: 30px;
}
