.App {
  text-align: center;
}
body{
  /* background: url(https://www.bigbasket.com/media/uploads/banner_images/hp_f_v_m_Kitchen-King_1600x460-250122.jpg) ; */
  background: url(https://imageio.forbes.com/specials-images/imageserve/1141999659/0x0.jpg?format=jpg&width=1200&fit=bounds);
  background-repeat: no-repeat;
  background-size: cover;
  
}
h3{
  text-align: center;
}
.heading{
  color: #61dafb;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
